body
{
  background-color: #0FADB0 !important;
}

.navigationBarVesta
{
  position: fixed;
  width: 100% !important;  
  font-family: verdana;
}

.navbar-expand-lg{
  background-color: #d8d8d8 !important;  
  padding: 0vh !important;
  
}


.navbar-nav{
  background-color: #d8d8d8;
  margin: 0px !important;
  
}

.navbar-nav > li
{
  /* padding-left: 8.45vh;
  padding-right:8.45vh; */
  padding-left: 3.25em;
  padding-right:3.25em;
  border-right: 0.2em solid;      
  border-color: #adadad;
  color: #adadad !important;  
}

.navbar-nav > li:hover
{
  background-color: #adadad;
}

.nav-link
{
  color: black !important;
  font-size: 0.7em !important;
}

.nav-link:hover:not(.active) {background-color: #adadad;}

a:hover:not(.active) {background-color: #adadad;}

.noBorder
{
  border-right: 0vh !important;
}

.headVesta
{
    background: linear-gradient(to right, #0FADB0 , #0E4965);    
    background-color: black;
    text-align: center;
    color: white;
    font-family: verdana;
    padding: 2em 0 1em 0;
}

.headVestaTitle
{
    margin:0px;
}

.headImg
{
    width: 100%;
    height: 100%;
}

.text-left
{
    position: absolute;
    top: 230px;
    left: 50px;
    width: 400px;
    font-size: 2.2vh;
    font-family: verdana;
    color: #084663;
}

p
{
    margin: 0 !important;     
}

.headBeneficios
{    
    background-color: #124764;
    font-family: verdana;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 13px 0px 10px 0px;    
}

#beneficios
{
    background-color: #0FADB0;                   
}

.textBeneficios
{
    background-color: #0FADB0;
    font-family: verdana;    
    color: #D2EDED;
    font-size: 0.9em;
    padding:30px 100px 55px 80px;    
}

.titleCuadroBeneficios
{  
  background-color: #084663;
  text-align: center;
  color:white;  
  margin: 2.6em 4em 0em 0em;
}

.titleCuadroBeneficiosDos
{
  background-color: #084663;
  text-align: center;
  color:white;  
  margin: 0em 4em 0em 0em;
}

.titleFooterBeneficios
{
  background-color: #084663;
  text-align: left !important;
  color:white;
  padding-left:1.4em;
}

.contenidoCuadroBeneficios
{
  background-color:white;
  color: black;
  font-size:0.8em;      
  padding:0.4em 3em 0.5em 1.5em !important;  
  border:solid 0.4vh;
  border-color: #084663;
  text-align: left;  
  margin: 0em 5em 0em 0em;
}


.contenidoFooterBeneficios
{
  background-color:white;
  color: black;
  font-size:2.1vh;  
  border:solid 0.4vh;
  border-color: #084663;
  text-align: left;
}

.footerBeneficios
{
  padding: 0em 4em 0em 4.5em;
  background-color: #0FADB0;  
}

.footerVesta
{
    /* background: linear-gradient(to right, #0FADB0 , #0E4965);     */
    background-color: #0E4965;
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 0.7em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper6040
{
  display:grid;
  grid-template-columns: 60% 40%;
  height: 80%;
}

.wrapper5050
{
  display:grid;
  grid-template-columns: 50% 50%;  
  padding:0em 0em 1em 1em;  
  margin-bottom:3em;
}