a{
    color:black !important;
}

.tableFit{
    width:100%;
}
.tableFit td{
    white-space: nowrap;  /** added **/
}

.tableFit th{
    white-space: nowrap;  /** added **/
}
.tableFit td:last-child{
    width:100%;
}

.tableCabecera
{
    margin-bottom:50px !important;
}

.titleForm
{
    margin-top:0.5em !important;    
    margin-bottom:0.4em !important;
    font-size:3em;
}

.formulario
{
    margin:2em 0em 3em 0em;
    border: solid 1px black;
    padding:2em 2em 2em 2em;    
    border-radius: 1em;    
    
}

.formularioNuevaHistoriaClinica
{    
    margin:2em 0em 3em 0em;
    border: solid 1px black;
    padding:2em 2em 2em 2em;    
    border-radius: 1em; 
}

.formularioHistoriaClinica
{
    margin:1em 0em 3em 0em;    
    padding:0em 2em 2em 0em;    
    /* font-size:3em; */
    /* border-radius: 1em; 
    border: solid 1px black; */
}

.formularioHistoriaClinica > td{
    padding-left:1em !important;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
  }

.paddingTop
{
    padding-top:2em !important;
}

.paddingRight1
{
    padding-right:1em !important;
}

.alignCenter
{
    text-align: center;
}

.modulos
{
    display: none;
}

.horas
{
    display: none;
}

.sesiones
{
    display: none;
}

.titleInternacionesHidden
{    
    display:hidden !important;
}